// VARIABLES

@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Rubik+Vinyl');

//colors
$color-background: #DEECDA;
$color-primary: #309E6D;
$color-accent1: #106C42;
$color-accent2: #5BB527;
$color-accent3: #E56B44;
$color-accent4: #C93565;
$dark: #000;
$light: #FFF;

//fonts
$font-headers: 'Rubik Vinyl', cursive;
$font-body: 'Exo 2', sans-serif;
$font-size-headers: 1.5em;
$font-size-body: 1em;

//borders
$border-color: $color-accent4;
$border-type: solid;
$border-thickness: .5em;

// grid variabls
$grid-gap: 0;

// placment measurements
$div-padding: 2em;

// media breaks
$media-large: 960px;
$media-medium: 670px;
$media-small: 560px;